In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv("fmld_merged - fmld_merged (4).csv")

/usr/local/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data

,INC_RNKM,INC_RNK5,INC_RNK4,INC_RNK3,INC_RNK2,INC_RNK1,INC_RANK,NEWID,AGE_REF,AGE_REF_,...,FSMP_RXM,INTR_VXM,NETR_NTM,OTHR_GXM,RETS_RVM,ROYE_TXM,DIVISION,REFGEN,HISP_REF,HISP2
0,0.613960,0.612058,0.623270,0.6173534,0.609947,0.623219,0.693206,3975291,29,D,...,D,D,A,A,A,A,3.0,5,2,NaN
1,0.614267,0.612365,0.623577,0.6176605,0.610254,0.623527,0.693513,3975292,29,D,...,D,D,A,A,A,A,3.0,5,2,NaN
2,0.129305,0.142161,0.145361,0.1459314,0.136497,0.142417,0.277841,3975311,65,D,...,D,A,A,A,A,A,5.0,3,2,NaN
3,0.128976,0.141832,0.145031,0.1456021,0.136168,0.142087,0.277512,3975312,65,D,...,D,A,A,A,A,A,5.0,3,2,NaN
4,0.059993,0.063325,0.050584,0.0752804,0.124610,0.051951,0.109880,3975341,66,D,...,D,A,A,A,A,A,9.0,3,1,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5672,0.910047,0.909700,0.905925,0.905088,0.909513,0.910150,0.941994,3964512,49,D,...,D,A,A,A,A,A,5.0,4,2,2.0
5673,0.947322,0.946771,0.947147,0.947628,0.947825,0.947310,0.893908,3964561,38,D,...,D,A,A,A,A,A,7.0,4,2,2.0
5674,0.946223,0.945672,0.946048,0.946528,0.946725,0.946211,0.892441,3964562,38,D,...,D,A,A,A,A,A,7.0,4,2,2.0
5675,0.357662,0.365726,0.360396,0.370768,0.367717,0.366198,0.479723,3964581,54,D,...,D,A,A,A,A,A,6.0,3,1,NaN
5676,0.358180,0.366244,0.360914,0.371286,0.368235,0.366716,0.480241,3964582,54,D,...,D,A,A,A,A,A,6.0,3,1,NaN

In [4]:
to_drop = ["HISP2", "DIVISION",'RETSURVX','RETSURVM',"OTHREGXM","FSMPFRXM", "HIGH_EDU", "WELFRBX","JFS_AMTM", "JFS_AMT1", "JFS_AMT2", 'JFS_AMT3', 'JFS_AMT4', 'JFS_AMT5', "FSS_RRXM","FINCBEFM", "CUID","FOODTOT", "STRTYEAR", "JFS_AMT", "JGROCYWK", "JGRCFDWK","FWAGEX","FSS_RRX","FPVTX","FJSSDEDX","FINCBEFX","INC_RNKM","FWAGEXI", "FWAGEXM", "SEX_REF_","SEX2", "STRTMNTH", "LUMPBX_", "LUMPBX", "LUMPBX_", "OTHINB", "OTHINB_", "OTHINBX", "OTHINBX_", "WELFRB", "WELFRB_", "PSU", "FSMPFRMX", "FSMPFRMX", "FSMP_RMX", "FSMPFRX1", "FSMPFRX2", "FSMPFRX3", "FSMPFRX4", "FSMPFRX5", "TYPOWND" , "TYPOWND_", "VEHQ_","WEEKI", "WEEKI_", "WEEKN", "WELFRX","REF__ACE", "REC_FS_", "RACE2", "RACE2_", "OCCU_IS1", "PERS_T64", "PERS_T18", "OTHRECX", "OTHRECX_", "OTHINX", "OTHINX_", "OCCULIS2", "OCCU_IS2", "OCCEXPNX", "OCCE_PNX", "NO_E_RNR", "MARI_AL1", "LUMPX", "LUMPX_", "JGRO_YWK", "JGRO_YMV", "JGRC_DWK", "JGRC_DMV", "JFS_AMT_", "HRSP_WK1", "HRSPRWK2", "HRSP_WK2", "FWAGEX_", "FSUPPX", "FSUPPX_", "FSS_RRX_", "FS_MTHI", "FS_MTHI_", "FRRX_", "FREEMLX", "FREEMLX_", "FPVTX_", "FJSS_EDX", "FIRAX_", "FINC_EFX", "FINLWT21", "FGVX_", "FAM__YPE", "FAM__IZE", "EMPL_YP2", "EMPLTYP2", "EMPL_YP1", "EDUC0REF", "EDUCA2", "EDUCA2_", "EARN_OMP", "DESCRIP_", "DESCRIP", "CUTE_URE", "AGE2", "AGE2_", "AGE_REF_", "INC_RNK5", "INC_RNK4", "INC_RNK3", "INC_RNK2", "INC_RNK1", "FRRX", "FRRX_", "OTHREGB", "OTHREGBX", "OTHREGX", "RETSRVBX", "RETSURVB", "ROYESTB", "FJSSDEDM", "REFGEN", "FS_AMTXM", "FS_AMTXM", "ROYESTBX", "ROYESTX", "ROYESTX1", "ROYESTX2", "ROYESTX3", "ROYESTX4", "ROYESTX5", "ROYESTXI", "RETSURV1", "RETSURV2", "RETSURV3", "RETSURV4", "RETSURV5", "RETSURVI", "OTHREGX1", "OTHREGX2", "OTHREGX3", "OTHREGX4", "OTHREGX5", "OTHREGXI", "NETR_NTX", "NETR_TBX", "OTHREGB_", "OTHR_GBX", "OTHREGX_", "RETS_VBX", "RETS_RVB", "RETS_RVX", "ROYESTB_", "ROYE_TBX", "ROYESTX_", "FSMP_RXM", "INTR_VXM", "NETR_NTM", "OTHR_GXM", "RETS_RVM", "ROYE_TXM", "NETRENT1", "NETRENT2", "NETRENT3", "NETRENT4", "NETRENT5", "NETRENTI", "FSMPFRXI", "INTRDVB_", "INTR_VBX", "NETRENTB", "NETR_NTB", "INTRDVX", "INTRDVX_", "INTRDVX1", "INTRDVX2", "INTRDVX3", "INTRDVX4", "INTRDVX5", "INTRDVXI", "WHYNWRK1", "WHYN_RK1", "WHYNWRK2", "WHYN_RK2", "WK_WRKD1", "WK_W_KD1", "WK_WRKD2", "WK_W_KD2", "INTRDVB", "INTRDVBX", "WTREP01", "WTREP02", "WTREP03", "WTREP04", "WTREP05", "WTREP06", "WTREP07", "WTREP08", "WTREP09", "WTREP10", "WTREP11", "NETRENTM", "NETRENTX", "NETRNTBX", "WTREP12", "WTREP13", "WTREP14", "WTREP15", "WTREP16", "WTREP17", "WTREP18", "WTREP19", "WTREP20", "WTREP21", "WTREP22", "WTREP23", "WTREP24", "WTREP25", "WTREP26", "WTREP27", "WTREP28", "WTREP29", "WTREP30", "WTREP31", "WTREP32", "WTREP33", "WTREP34", "WTREP35", "WTREP36", "WTREP37", "WTREP38", "WTREP39", "WTREP40", "WTREP41", "WTREP42", "WTREP43", "WTREP44", "HH_CU_Q", "HH_CU_Q_", "HHID", "HHID_", "CHIL_AGE", "INC__ANK", "HORREF1", "HORREF1_", "HORREF2", "HORREF2_", "FGVXM", "FGVXM_", "FINC_EFM", "FINCBEF1", "FINCBEF2", "FINCBEF3", "FINCBEF4", "FINCBEF5", "FINCBEFI", "FJSS_EDM", "FJSSDED1", "FJSSDED2", "FJSSDED3", "FJSSDED4", "FJSSDED5", "FPVTXM", "FPVTXM_", "FRRXM", "FRRXM_", "FS_A_TXM", "FS_AMTX1", "FS_AMTX2", "FS_AMTX3", "FS_AMTX4", "FS_AMTX5", "FS_AMTXI", "FSS__RXM", "FSS_RRX1", "FSS_RRX2", "FSS_RRX3", "FSS_RRX4", "FSS_RRX5", "FSS_RRXI", "FSUPPXM", "FSUPPXM_", "FSUPPX1", "FSUPPX2", "FSUPPX3", "FSUPPX4", "FSUPPX5", "FSUPPXI", "FWAGEXM_", "FWAGEX1", "FWAGEX2", "FWAGEX3", "FWAGEX4", "FWAGEX5", "OTHINXM", "OTHINXM_", "OTHINX1", "OTHINX2", "OTHINX3", "OTHINX4", "OTHINX5", "OTHINXI", "WELFRXM", "WELFRXM_", "WELFRX1", "WELFRX2", "WELFRX3", "WELFRX4", "WELFRX5", "WELFRXI", "PICKCODE", "LUMPB", "LUMPB_", "LUMPBX"]

In [5]:
data = data.drop(to_drop, axis=1)

In [6]:
# sorting by first name 
data.sort_values("NEWID", inplace = True)

In [7]:
data.drop_duplicates(subset ="NEWID", 
                     keep = False, inplace = True) 

# We no longer need the new id
data = data.drop("NEWID", axis=1)

In [8]:
data.shape

(5677, 63)

In [9]:
# to fill with zeroes
zeros = ['INTRDVXM']

In [10]:
for col in zeros:
    data[col] = data[col].fillna(0)
data.head()

,INC_RANK,AGE_REF,BLS_URBN,CUTENURE,EARNCOMP,EDUC_REF,EMPLTYP1,FAM_SIZE,FAM_TYPE,FGVX,...,DRUGSUPP,HOUSKEEP,CHILDAGE,STATE,INC__NKM,JFS__MTM,WELFRBX_,INTRDVXM,ROYESTXM,HISP_REF
2896,0.763567,36,1,1,1,14,1.0,2,1,0,...,0.00000,22.95,0,55.0,D,D,A,0.0,NaN,2
2897,0.765380,36,1,1,1,14,1.0,2,1,0,...,131.22148,3.43,0,55.0,D,D,A,0.0,NaN,2
2898,0.048528,46,1,4,1,15,1.0,1,8,0,...,0.00000,0.00,0,15.0,D,D,A,0.0,NaN,2
2899,0.033748,46,1,4,1,15,1.0,1,8,0,...,0.00000,0.00,0,15.0,D,D,A,0.0,NaN,2
2900,0.331063,74,1,4,8,12,NaN,2,1,0,...,0.00000,0.00,0,36.0,D,D,A,3000.0,NaN,2

In [11]:
# Dropping all non numeric values
drop_list = []
for column in data.columns:
    if data[column].dtype not in ["float64", "int64"]:
        drop_list.append(column)
data = data.drop(drop_list, axis=1)

In [12]:
# Changing the remaining na values to mean
data = data.fillna(data.mean())

In [13]:
labels = np.array(data['INC_RANK'].tolist())

In [14]:
labels

array([0.7635665, 0.7653797, 0.0485282, ..., 0.4852189, 0.4376007,
       0.4407932])

In [15]:
data_without_labels = data.drop('INC_RANK', axis=1)

In [16]:
data_without_labels.head()

,AGE_REF,BLS_URBN,CUTENURE,EARNCOMP,EDUC_REF,EMPLTYP1,FAM_SIZE,FAM_TYPE,FGVX,FIRAX,...,PET_FOOD,PERSPROD,PERSSERV,DRUGSUPP,HOUSKEEP,CHILDAGE,STATE,INTRDVXM,ROYESTXM,HISP_REF
2896,36,1,1,1,14,1.000000,2,1,0,0,...,0.00,0.0,0.0,0.00000,22.95,0,55.0,0.0,16435.842857,2
2897,36,1,1,1,14,1.000000,2,1,0,0,...,31.52,0.0,0.0,131.22148,3.43,0,55.0,0.0,16435.842857,2
2898,46,1,4,1,15,1.000000,1,8,0,0,...,0.00,0.0,0.0,0.00000,0.00,0,15.0,0.0,16435.842857,2
2899,46,1,4,1,15,1.000000,1,8,0,0,...,0.00,0.0,0.0,0.00000,0.00,0,15.0,0.0,16435.842857,2
2900,74,1,4,8,12,1.729323,2,1,0,0,...,0.00,0.0,0.0,0.00000,0.00,0,36.0,3000.0,16435.842857,2

In [17]:
column_names = data_without_labels.columns
X= data_without_labels.values

In [24]:
from sklearn import svm
from sklearn.preprocessing import StandardScaler
scaler = StandardScaler()
print(scaler.fit(X))
StandardScaler()
X_standardized = scaler.transform(X)
print(X_standardized)

StandardScaler(copy=True, with_mean=True, with_std=True)
[[-9.62418516e-01 -2.73835349e-01 -9.84929669e-01 ... -1.70160337e-01
  -1.33220694e-15  3.91354881e-01]
 [-9.62418516e-01 -2.73835349e-01 -9.84929669e-01 ... -1.70160337e-01
  -1.33220694e-15  3.91354881e-01]
 [-3.75969752e-01 -2.73835349e-01  1.27911908e+00 ... -1.70160337e-01
  -1.33220694e-15  3.91354881e-01]
 ...
 [ 1.50066630e+00 -2.73835349e-01 -2.30246752e-01 ... -1.68447208e-01
  -1.33220694e-15  3.91354881e-01]
 [-1.43157753e+00 -2.73835349e-01 -9.84929669e-01 ... -1.70160337e-01
  -1.33220694e-15  3.91354881e-01]
 [-1.43157753e+00 -2.73835349e-01 -9.84929669e-01 ... -1.70160337e-01
  -1.33220694e-15  3.91354881e-01]]